body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FEF4EC;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    /* height: 150px; */
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: 1px solid black; */
}

.name {
    justify-content: center;
    font-size: 30px;
}

.text {
    display: flex;
    margin: 10px 0 0 0;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.resume-container {
    display: flex;
    justify-content: center;   /* centers all items horizontally by default */
    position: relative;        /* allows absolute positioning inside */
    margin: 10px 0 0 0;
}

.download-icon {
    position: absolute;
    right: 0;   /* stick to the far right */    
}

.link:hover {
    text-decoration: underline;
}

.media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
}

.icon {
    margin: 0 10px 0 0;
    padding: 5px;
    transition-duration: 0.3s;

}

.icon:hover {
    background-color: #E0E0E0;
    border-radius: 10px;
}